@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-market {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    padding: 30px 30px;
}

#nav-asad {
    padding-top: 25px;
}

#Navbar-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    text-align: center;
}


#nav-adress {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    padding: 30px 0px;
}

#navigation-img {
    margin: 0px 10px 10px 0px;
}

#profile-box {
    /* margin-left: 70px; */
    margin: 0px 10px 10px 130px;
}

#nav-category-box {
    background: #F0F0F4;
    margin-top: 20px;
}


#category-box {
    display: flex;
    justify-content: center;
}

#category-name {
    font-weight: 400;
    font-size: 19px;
    text-transform: capitalize;
    color: #2F3035;
    width: 160px;
    height: 45px;
    transition: .5s;
    border: none;
}

#category-name:hover {
    cursor: pointer;
    border-bottom: 3px solid #317def;
    color: #317def;
    transition: 0.3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-size: 18px;
}

#advertisement-box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.img-carousel {
    width: 100%;
    width: 100%;
    height: 500px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#sale-box {
    display: flex;
    justify-content: space-between;
}


#border-app {
    height: 98%;
    border: 1.5px solid #CDCDCD;
    border-radius: 3px;
}

#sale {
    padding: 8px 20px;
    margin: 0;
    font-size: 12px;
    border: none;
    font-weight: 900;
    background: #1C62CD;
    color: #ffff;
    text-transform: uppercase;
}

#sale:hover {
    opacity: 0.8;
    transition: 0.3s;
}

#prices {
    text-align: end;
    padding-right: 5px;
}

#nineteen {
    font-weight: 700;
    font-size: 27px;
    color: #1C62CD;
    margin: 0;
}

#twenty {
    font-weight: 400;
    font-size: 14px;
    color: #C4C4C4;
    text-decoration: line-through;
}

#RubleSec {
    width: 15px;
    padding-left: 2px;
}

#engine {
    margin: 45px 60px 0px 60px;
}

#engine-info {
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #2F3035;
    text-transform: capitalize;
}

#date-box {
    background: #F0F0F4;
    margin-top: 30px;
}

#date-till {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    padding-top: 30px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

#date {
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    color: #1C62CD;
    padding-bottom: 28px;
}

#RubleFirst {
    width: 0px;
}



@media screen and (max-width:576px) {
    .img-carousel {
        width: 100%;
        height: 300px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    #category-name {
        font-weight: 400;
        font-size: 7px;
        text-transform: capitalize;
        color: #2F3035;
        width: 10px;
        height: 35px;
        transition: .5s;
        border: none;
        padding: 5px 27px 0px 27px;
    }

    #category-name:hover {
        cursor: pointer;
        border-bottom: 3px solid #317def;
        color: #317def;
        transition: 0.3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        font-size: 8px;
    }

    #category-box {
        display: flex;
        justify-content: space-evenly;
        margin-left: 190px;
    }

    #engine-info {
        font-weight: 1000;
        font-size: 18px;
        text-align: center;
        color: #2F3035;
        text-transform: capitalize;
        margin: 0;
    }

    #engine {
        margin: 5px 60px 0px 50px;
        width: 200px;
    }

    #nineteen {
        font-weight: 700;
        font-size: 40px;
        color: #1C62CD;
    }

    #twenty {
        font-weight: 400;
        font-size: 25px;
        color: #C4C4C4;
        text-decoration: line-through;
    }

    #RubleSec {
        width: 16px;
        padding-left: 2px;
    }

    #date-till {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        padding-top: 30px;
        line-height: 21px;
        text-align: center;
        color: #2F3035;
    }

    #date {
        font-weight: 900;
        font-size: 19px;
        text-align: center;
        color: #1C62CD;
        padding-bottom: 40px;
    }

    #date-box {
        background: #F0F0F4;
        margin-top: 10px;
    }

    #sale {
        padding: 15px 30px;
        margin: 0;
        font-size: 12px;
        border: none;
        font-weight: 900;
        background: #1C62CD;
        color: #ffff;
        text-transform: uppercase;
    }

    #RubleFirst {
        width: 22px;
    }


    #border-app {
        height: 89.5%;
        border: 1.5px solid #CDCDCD;
        border-radius: 3px;
        margin-top: 60px;
    }

}