* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-market {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    padding: 30px 30px;
}

#Navbar-box {
    display: flex;
}

#logo {
    padding: 0px 30px;
}

#nav-adress {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    padding-right: 200px;
    padding: 30px 0px;
}

#navigation-img {
    margin: 0px 10px 10px 0px;
}

#profile-box {
    margin: 20px 10px 10px 180px;
}

#nav-category-box {
    background: #F0F0F4;
    margin-top: 20px;
}


#category-box {
    display: flex;
    justify-content: center;
}

#category-name {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #2F3035;
    padding: 10px 40px;
    border: none;
}

#category-name:hover {
    cursor: pointer;
    border-bottom: 3px solid #317def;
    transition: 0.1s;
    font-size: 23px;
    color: #2F3035;
}

#advertisement-box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.img-carousel {
    width: 100%;
    height: 100%;
    height: 600px;
}

#sale-box {
    display: flex;
    justify-content: space-between;

}


#border-app {
    margin: 50px 0px 0px 50px;
    width: 270px;
    height: 480px;
    border: 1.5px solid #CDCDCD;
    border-radius: 3px;
}

#sale {
    padding: 1px 25px;
    border: none;
    background: #1C62CD;
    color: #ffff;
    text-transform: uppercase;
}

#sale:hover {
    opacity: 0.8;
    transition: 0.3s;
}

#nineteen {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 32px;
    color: #1C62CD;
    display: flex;
    padding-top: 10px;
}

#twenty {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 170px;
    display: flex;
    line-height: 17px;
    color: #C4C4C4;
    text-decoration: line-through;
}

#RubleSec {
    width: 15px;
    padding-left: 2px;
}

#engine {
    margin: 45px 60px 0px 60px;
}

#engine-info {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 21px;
    margin: 5px 10px 10px 10px;
    text-align: center;
    color: #2F3035;
}

#date-box {
    background: #F0F0F4;
}

#date-till {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    padding-top: 30px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

#date {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #1C62CD;
    padding-bottom: 28px;
}
