.cards{
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.cardsImg{
    padding: 20px 20px 15px 20px;
    margin: auto;
}

.cardsText{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.CardsPrice{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #2F3035;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btnCard{
    background: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    border: none;
    padding: 5px 10px;
    margin-left: 315px;
    
}

.cardsLikee{
   color: black; 
   margin-top: 20px;
   margin-left: 315px;
}



@media (max-width: 575px) {
    .cards{
        position: relative;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 20px;
        width: 90;
        
    }
    .cardsLikee {
        color: black;
        margin-left: auto;
        margin-right: 10px;
    }
    .btnCard {
        background: #1C62CD;
        border-radius: 10px 0px 0px 0px;
        border: none;
        margin-left: auto;
        margin-right: -80%;
    }

  

    .cardsImg {
        padding: 0px 0px 9px 0px;
        margin: auto;
    }
    .cardsText {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 5px;
        text-align: center;
        color: #2F3035;
    }
    .CardsPrice {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #2F3035;
        padding-top: 12px;
        padding-bottom: 5px;
    }
   
}