* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.boxBlue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1C62CD;
    padding-top: 28px;
    padding-bottom: 28px;
}


.motoText {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}


.button_motor {
    width: 284px;
    height: 50px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #2F3035;
    background: #FFFFFF;
    text-transform: uppercase;
    border: none;
}

.list_footer {
    display: flex;
    gap: 40px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.textFooter {
    padding-top: 72px;
    padding-bottom: 22px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #2F3035;
}


.list_item_footer{
    height: 28px;
}

.list_item_footer:hover {
    cursor: pointer;
    border-bottom: 2px solid #1C62CD;
}